@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* #game-canvas {
  width: 600px;
  height: 600px;
  background-color: forestgreen;
} */

#game-canvas {
  /* width: 100vw; */
  /* height: 100vh; */
  width: 98vw;
  height: 95vh;
  margin-left: auto;
  margin-right: auto;
  min-height: 585px;
  min-width: 470px;
}

#game-canvas canvas {
  touch-action: auto !important;
}
