@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* #game-canvas {
  width: 600px;
  height: 600px;
  background-color: forestgreen;
} */

#game-page {
  background-color: forestgreen;
}

#game-canvas {
  /* width: calc(100vw - 18px); */
  /* height: calc(100vh - 1.5rem - 18px); */
  width: 100vw;
  height: calc(100vh - 1.5rem);
  /* margin-left: auto; */
  /* margin-right: auto; */
  min-height: 585px;
  min-width: 470px;
  max-width: 100%;
  max-height: 100%;
}

#game-canvas canvas {
  touch-action: auto !important;
}
